
body {
  font-family: sans-serif;
  
  display: grid;
  grid-template-columns: $ 20px 1fr;
  grid-template-rows: 100%;
  
  border: solid 3px black ;
  margin: 1px ;
    
}

menu {
  grid-column: 1 / 2;
  grid-row: 1 / 2 ;
  outline:1px solid red;

}

/* Page structure */
.wrapper {

}
